
@{
    ViewBag.Title = "Index";
}

<h2>ระบบรายงานข้อมูล</h2>

<hr />
<ul>
    <li>@Html.ActionLink("รายงานข้อมูลประเภทสินค้า", "ProductType", "Report")</li>
    <li>@Html.ActionLink("รายงานข้อมูลสินค้า", "Product", "Report")</li>
    <li>@Html.ActionLink("รายงานข้อมูลสินค้าขายดี", "ProductGood", "Report")</li>
    <li>@Html.ActionLink("รายงานข้อมูลข้อมูลสมาชิก", "Accout", "Report")</li>
    <li>@Html.ActionLink("รายงานข้อมูลข้อมูลการขาย", "Sale", "Report")</li>
</ul>