@model IEnumerable<VIVOSHOP.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}
@{
    if (Session["User_Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<hr />
<center>
    <h2>ตะกร้าสินค้า</h2>
</center>
@if (Model.Count() > 0)
{

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Pro_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Pro_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pro_Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Pro_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Pro_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetails_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Price)
        </td>
        <td>
            @Html.ActionLink("ลบ", "Delete", new { id = item.Order_Id })
        </td>
    </tr>
        }
        <tr>
            <td></td>
            <td>
                รวม
            </td>
            <td>
                @ViewBag.Prosum บาท
            </td>
            <td></td>
        </tr>
    </table>

    <a href="ProductOrders/Create?price=@ViewBag.Prosum" class="btn btn-block btn-primary"><p> </p><p style="color:aliceblue;">ชำระเงิน</p></a>

}
else
{
    <center>
        <h3 style="color:darkred;">
            กรุณาเลือกสินค้า
        </h3>
    </center>
}